button {
    background-color: #141516 !important;
}

button, .search {
    border-radius: 48px 48px 48px 48px !important;
    -moz-border-radius: 48px 48px 48px 48px !important; 
    -webkit-border-radius: 48px 48px 48px 48px !important;
}

.nav-elmt {
    font-size: 22px;
    color: #fff;
}

.nav-elmt:hover {
    color: #ddccff !important;
}


