#app {
	font-size: 22px;
	margin: 0 0.8em 0.8em 0;
	display: grid;
	grid-template-areas:
	"side-nav search panier"
	"side-nav results results"
	"side-nav results results";
	grid-template-rows: 60px 1fr 1fr;
	grid-template-columns: 2fr 8fr 2fr;
	grid-gap: 0.8em;
}

.side-nav {
	grid-area: side-nav;
	background-color: #dee5ef;
	padding: 1em;
}

.search {
	margin-top: 0.8em; 
	grid-area: search;
	background-color: #ffa08c;
}

.panier {
	margin-top: 0.8em;
	grid-area: panier;
}

.results {
	grid-area: results;
	background-color: #ffffff;
}

.portables-list {
	overflow-y: auto;
}